/* defino variables*/
:root {
    --colorSecundario : #86c2b6;
    --tipografiaTitulos : Raleway;
}

/*inicializo*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans ;
}

a {
    text-decoration: none;
    color: #000000;
}

.contact {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.contact header {
    width: 100%;
    margin-top: 40px;
    background-color: #ffffff;
    height: 50px;
    /*background-color: #86c2b6;*/
}
.contact header nav {
    text-align: right;

}
.contact header .nav-menu li {
    list-style: none;
    display: inline;
    padding: 0 10px;
    border-left: solid 1px silver;
}
.contact .nav-redes {
    display: block;
    margin: 1rem 10px 0 0 ;
}
.contact main h1, h3{
    text-transform: uppercase;
    font-family: var(--tipografiaTitulos);
    font-weight: 700;
    margin: 25px 0;
}
.contact main .section-principal {
    width: 100%;
}
.contact main .section-principal iframe {
    width: 100%;
}
.contact main .section-secundaria {
    width: 100%;
}
.contact main .section-secundaria .info {
    margin: 20px 0;
}
.contact main .section-secundaria .info h4 {
    color: var(--colorSecundario)
}

/*RESPONSIVE PARA TABLETS--PORTRAIT */ 
@media only screen and (min-device-width : 768px) {
    .contact header {
        margin-top: 40px;
        background-color: #ffffff;
        height: 120px;
    }
    .contact header .nav-menu li {
        padding: 0 10px;
        border-left: solid 1px silver;
    }
    .contact .nav-redes {
        margin: 1rem 10px 0 0 ;
    }
    .contact main h1, h3 {
        margin: 30px 0;
    }
    .contact main .section-secundaria .info {
        margin: 35px 0;
    }
}

/*RESPONSIVE TABLET--LANDSCAPE Y LAPTOPS/COMPUTADORAS desde 1024px y MENORES A 1280px*/
@media only screen and (min-device-width : 1024px) and (max-device-width : 1280px) 
and (orientation : landscape) {
    .contact header {
        margin-top: 40px;
        background-color: #ffffff;
        height: 120px;
    }
    .contact header .nav-menu li {
        padding: 0 10px;
        border-left: solid 1px silver;
    }
    .contact .nav-redes {
        margin: 1rem 10px 0 0 ;
    }
    .contact main h1 {
        margin: 60px 0;
        font-size: 50px;
    }
}
/*RESPONSIVE PANTALLAS GRANDES DESDE 1280px*/
@media only screen and (min-device-width : 1280px) {
    .contact header {
        margin-top: 40px;
        background-color: #ffffff;
        height: 120px;
    }
    .contact header nav {
        text-align: right;
    }
    .contact header .nav-menu li {
        padding: 0 10px;
        border-left: solid 1px silver;
    }
    .contact main h1 {
        margin: 65px 0;
        font-size: 60px;
    }
    .contact main .section-secundaria .info {
        margin: 30px 0;
    }
}