/* defino variables*/
:root {
    --colorSecundario : #86c2b6;
    --tipografiaTitulos : Raleway;
}

/*inicializo*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans ;
}

a {
    text-decoration: none;
    color: #000000;
}
li {
    list-style: none;
}
.music {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.music header {
    width: 100%;
    margin-top: 40px;
    background-color: #ffffff;
    height: 50px;
    /*background-color: #86c2b6;*/
}
.music header nav {
    text-align: right;

}
.music header .nav-menu li {
    list-style: none;
    display: inline;
    padding: 0 10px;
    border-left: solid 1px silver;
}
.music header .nav-redes {
    display: block;
    margin-right: 10px;
}
.music main {
    width: 100%;
}
.music main h1, h3{
    text-transform: uppercase;
    font-family: Raleway;
    padding: 15px 0;
}
.music main .directorio-links {
    padding-left: 25px;
}
.music main article {
    margin: 15px 0;
}
.music main article.album img {
    width: 100%;
    min-height: 150px;
    padding-bottom: 15px;
}
.music main article.album ol{
    padding-left:35px;  
    list-style: decimal-leading-zero;
    margin-bottom: 15px;
}
.music main article.links h3{
    padding-bottom: 0;
}
.music main article.links iframe{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.music main article.links p {
    padding-bottom: 15px;
}
.music main article.links a {
    color:#616161;
}
@media only screen and (min-device-width : 768px) {
    .music header {
        height: 70px;
        font-size: 22px;
    }
    .music header .nav-redes {
        margin-top: 1rem;
    }
}